.cabecalho {
    background-color: #6b038b;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.pet-imagem{
    width:25%;
}
.pet {
    background-image: linear-gradient(#64038b,#64038b);
color: white;
display:flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}
.pet-conteudo{
    width: 50%;
}
.pet-titulo {
    padding: 24px 0;
}
body{
 font-family: 'Dancing Script', cursive;
}
.tipo-de-pet-imagem{
    width: 120px;
}
.pet-div {
    text-align: center;
    padding: 16px 0;}
.tipos-de-pet{
    text-align: center;
    padding: 50px 0;
}
.pet-todos {
display: grid;
grid-template-columns: 20% 20% 20%;
}
.rodape{
background-color: black;
text-align: center;
}
.rodape-imagem{
height: 60px;
padding: 12px 0;
}
* {
    margin: 0;
    padding: 0;
}